# <font color = 'pickle'>**HW - Pre-processing/Feature Engineering - 10 Points**
- **You have to submit two files for this part of the HW (1) ipynb (colab notebook) and (2) pdf file.**
-  **You can use spacy and/or regular expressions for this notebook.**

In [18]:
import pandas as pd
import numpy as np 
import zipfile           
import tarfile
from pathlib import Path

In [19]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
#base_path = r'/content/drive/MyDrive/NLP'
base_path=r'/content/drive/MyDrive/NLP/data' 
base_folder = Path(base_path) 
archive_folder=r'/content/drive/MyDrive/NLP/data/archive'

In [21]:
Path.cwd()

PosixPath('/content')

In [24]:
file = base_folder/'scale_whole_review.zip'
URL = 'https://www.cs.cornell.edu/people/pabo/movie-review-data/scale_whole_review.tar.gz'

# CODE HERE

!wget {URL} -P {archive_folder}

--2022-09-11 03:10:40--  https://www.cs.cornell.edu/people/pabo/movie-review-data/scale_whole_review.tar.gz
Resolving www.cs.cornell.edu (www.cs.cornell.edu)... 132.236.207.36
Connecting to www.cs.cornell.edu (www.cs.cornell.edu)|132.236.207.36|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8853204 (8.4M) [application/x-gzip]
Saving to: ‘/content/drive/MyDrive/NLP/data/archive/scale_whole_review.tar.gz.24’

scale_whole_review. 100%[===================>]   8.44M  22.5MB/s    in 0.4s

2022-09-11 03:10:41 (22.5 MB/s) - ‘/content/drive/MyDrive/NLP/data/archive/scale_whole_review.tar.gz.24’ saved [8853204/8853204]

In [31]:
# for entries in archive_folder.iterdir():
#   if 'gz' in entries.name:
#     print(entries.name)

In [32]:

# file = archive_folder / 'scale_whole_review.tar.gz'
# with  tarfile.open(file, 'r') as tar:
#   tar.extractall(path = '/content/drive/MyDrive/NLP/data/datasets')

In [33]:
# data_folder="/content/drive/MyDrive/NLP/data/datasets"



base_path = '/content/drive/MyDrive/NLP/data'

base_folder = Path(base_path)

archive_folder = base_folder/'archive'

data_folder = base_folder/'datasets'

In [28]:
for entries in (data_folder/'scale_whole_review').iterdir():
  print(entries.name)

Steve+Rhodes
Scott+Renshaw
James+Berardinelli
Dennis+Schwartz

In [29]:
i = 0
for entries in (data_folder/'scale_whole_review'/'Dennis+Schwartz').iterdir():
  print(entries.name)
  i+= 1
  if i >10:
    break

txt.parag

In [30]:
i = 0
for entries in (data_folder/'scale_whole_review'/'Dennis+Schwartz'/'txt.parag').iterdir():
  print(entries.name)
  i+= 1
  if i >10:
    break

17391.txt
17398.txt
17399.txt
17457.txt
17460.txt
17447.txt
17430.txt
17431.txt
17501.txt
17518.txt
17532.txt

In [34]:
!head {data_folder/'scale_whole_review'/'Dennis+Schwartz'/'txt.parag'/'16748.txt'} -n 5

DENNIS SCHWARTZ "Movie Reviews and Poetry"
UNMADE BEDS (director: Nicholas Barker; cast: Brenda Monte, Michael De Stephano, Aimee Copp, Mikey Russo, 1997)
Whether the story is entirely true or in some parts made up, as the director stated it is, is unimportant; the film covers the intriguing subject matter of how four single New Yorkers exist for a period of nine months, featuring the real lives of two female and two male actors who play themselves, concerned with getting older and still being single. Their single scene is provocatively portrayed as being sad and luridly comical. It is a film that highlights the problems that can be found in urban areas across America, as we bear witness to the plight of these singles trying to search for a mate through the internet and the personals, faced with agonizing loneliness and unresolved psychological problems. That these four are not particularly people that I can readily sympathize with, does not alter the fact that this is a very human story being told, one that has many implications on our culture, relating how alienated a people so many of us have become in this modern world.
The result is an interesting and stylized docudrama, a "Rear Window" for singles. The film imitates those famous apartment windows Jimmy Stewart looked into for that 1950s look at New York City. This time it is not a crime that we see, but is a voyeurist's delight, and there is something that seems to excite us when we sneak a look at what someone does in the privacy of their own home, as if we are seeing something about them that we shouldn't see. But it is the four singles who remain the focus of the film, which is really not a documentary, except in its style.
Brenda Monte is Italian, she does not care for Jewish men and will not even consider dating them because she does not find them attractive, she is most proud of her big breasts, has a 20-year-old daughter from a previously failed marriage, and she tells us she receives no child support for her. This could be a personal ad about her, if it also included that she wants a guy not for sex or love(she can have sex whenever she wants to), but for monetary reasons. She wants to work out some deal with a guy where they come to some arrangement satisfactory to both of them, but she must get money for it, and it should be clear that she is not a prostitute. Her vulgar story is interspliced with the three other stories, but there is no connecting links to the others.

In [35]:
def combine_reviews(path):
  reviews = []

  # We use the below command to read all the text files in the  directory and store in our positive_reviews list.
  for file in path.iterdir():
    # check if the file is a text file
    if file.suffix == '.txt':
      # We can open files and read or write their contents using open() function
      # The files are opened in read-only mode for reading content
      with open(path/file,'r',encoding ='ISO-8859-1') as f:
        # We store our text from the files into the positive_reviews list as an element in our list
        text = f.read()
        # append the review to the list
        reviews.append(text)
  return reviews

In [36]:
path_den = data_folder/'scale_whole_review'/'Dennis+Schwartz'/'txt.parag'
path_jam = data_folder/'scale_whole_review'/'James+Berardinelli'/'txt.parag'
path_sco = data_folder/'scale_whole_review'/'Scott+Renshaw'/'txt.parag'
path_stev= data_folder/'scale_whole_review'/'Steve+Rhodes'/'txt.parag'

dennis_reviews = combine_reviews(path_den)
james_reviews = combine_reviews(path_jam)
scott_reviews = combine_reviews(path_sco)
steve_reviews = combine_reviews(path_stev)

In [37]:
len_dennis = ['Dennis+Schwartz'] * len(dennis_reviews)
len_james = ['James+Berardinelli'] * len(james_reviews)
len_scott = ['Scott+Renshaw'] * len(scott_reviews)
len_steve = ['Steve+Rhodes'] * len(steve_reviews)

In [38]:
len_dennis.extend(len_james)
len_dennis.extend(len_scott)
len_dennis.extend(len_steve)

In [39]:
final_dataframe = pd.DataFrame({'Movie Reviews':dennis_reviews + james_reviews + scott_reviews + steve_reviews,

                                'Reviewer Name':len_dennis

                                                     })

In [40]:
final_dataframe

                                          Movie Reviews    Reviewer Name
0     OUT OF SIGHT (director:Steven Soderbergh; cast...  Dennis+Schwartz
1     DARK CITY (director: Alex Proyas; cast: Rufus ...  Dennis+Schwartz
2     PI (director: Darren Aronofsky; cast: Sean Gul...  Dennis+Schwartz
3     HENRY FOOL (director: Hal Hartley; cast: Thoma...  Dennis+Schwartz
4     THE GOVERNESS (director: Sandra Goldbacher; ca...  Dennis+Schwartz
...                                                 ...              ...
5001  TV director Danny Leiner's DUDE, WHERE'S MY CA...     Steve+Rhodes
5002  Watching A HARD DAY'S NIGHT from 1964, now in ...     Steve+Rhodes
5003  After missing its 25th anniversary a couple of...     Steve+Rhodes
5004  Steven Brill's LITTLE NICKY, starring box offi...     Steve+Rhodes
5005  Even if WES CRAVEN PRESENTS DRACULA 2000 -- wh...     Steve+Rhodes

[5006 rows x 2 columns]


# <font color ='pickle'> **Task1: Download data and combine data from multiple files into a single dataframe - 2 Points.**

In this task you have to download the moview reviews from the following link:
https://www.cs.cornell.edu/people/pabo/movie-review-data/scale_whole_review.tar.gz
<br>

**Instructions:** <br>

- The data has movie reviews from four different reviewers: 
(1) Dennis+Schwartz,  (2) James+Berardinelli, (3) Scott+Renshaw and (4) Steve+Rhodes.

- You have to extract the reviews of  the four reviewers in a single dataframe.
- The final dataframe should have two columns (1) Moview Review and (2) Reviewer Name.

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
import pandas as pd
import numpy as np 
import zipfile           
import tarfile
from pathlib import Path

In [43]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [44]:
#base_path = r'/content/drive/MyDrive/NLP'
base_path=r'/content/drive/MyDrive/NLP/data' 
base_folder = Path(base_path) 
archive_folder=r'/content/drive/MyDrive/NLP/data/archive'

In [45]:
Path.cwd()

PosixPath('/content')

In [46]:
file = base_folder/'scale_whole_review.zip'
URL = 'https://www.cs.cornell.edu/people/pabo/movie-review-data/scale_whole_review.tar.gz'

# CODE HERE

!wget {URL} -P {archive_folder}

--2022-09-11 03:17:52--  https://www.cs.cornell.edu/people/pabo/movie-review-data/scale_whole_review.tar.gz
Resolving www.cs.cornell.edu (www.cs.cornell.edu)... 132.236.207.36
Connecting to www.cs.cornell.edu (www.cs.cornell.edu)|132.236.207.36|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8853204 (8.4M) [application/x-gzip]
Saving to: ‘/content/drive/MyDrive/NLP/data/archive/scale_whole_review.tar.gz.25’

scale_whole_review. 100%[===================>]   8.44M  26.6MB/s    in 0.3s

2022-09-11 03:17:53 (26.6 MB/s) - ‘/content/drive/MyDrive/NLP/data/archive/scale_whole_review.tar.gz.25’ saved [8853204/8853204]

In [47]:
# data_folder="/content/drive/MyDrive/NLP/data/datasets"



base_path = '/content/drive/MyDrive/NLP/data'

base_folder = Path(base_path)

archive_folder = base_folder/'archive'

data_folder = base_folder/'datasets'

In [48]:
for entries in (data_folder/'scale_whole_review').iterdir():
  print(entries.name)

Steve+Rhodes
Scott+Renshaw
James+Berardinelli
Dennis+Schwartz

In [49]:
def combine_reviews(path):
  reviews = []

  # We use the below command to read all the text files in the  directory and store in our positive_reviews list.
  for file in path.iterdir():
    # check if the file is a text file
    if file.suffix == '.txt':
      # We can open files and read or write their contents using open() function
      # The files are opened in read-only mode for reading content
      with open(path/file,'r',encoding ='ISO-8859-1') as f:
        # We store our text from the files into the positive_reviews list as an element in our list
        text = f.read()
        # append the review to the list
        reviews.append(text)
  return reviews

In [50]:
path_den = data_folder/'scale_whole_review'/'Dennis+Schwartz'/'txt.parag'
path_jam = data_folder/'scale_whole_review'/'James+Berardinelli'/'txt.parag'
path_sco = data_folder/'scale_whole_review'/'Scott+Renshaw'/'txt.parag'
path_stev= data_folder/'scale_whole_review'/'Steve+Rhodes'/'txt.parag'

dennis_reviews = combine_reviews(path_den)
james_reviews = combine_reviews(path_jam)
scott_reviews = combine_reviews(path_sco)
steve_reviews = combine_reviews(path_stev)

In [51]:
len_dennis = ['Dennis+Schwartz'] * len(dennis_reviews)
len_james = ['James+Berardinelli'] * len(james_reviews)
len_scott = ['Scott+Renshaw'] * len(scott_reviews)
len_steve = ['Steve+Rhodes'] * len(steve_reviews)

In [52]:
len_dennis.extend(len_james)
len_dennis.extend(len_scott)
len_dennis.extend(len_steve)

In [53]:
final_dataframe = pd.DataFrame({'Movie Reviews':dennis_reviews + james_reviews + scott_reviews + steve_reviews,

                                'Reviewer Name':len_dennis

                                                     })

In [54]:
final_dataframe

                                          Movie Reviews    Reviewer Name
0     OUT OF SIGHT (director:Steven Soderbergh; cast...  Dennis+Schwartz
1     DARK CITY (director: Alex Proyas; cast: Rufus ...  Dennis+Schwartz
2     PI (director: Darren Aronofsky; cast: Sean Gul...  Dennis+Schwartz
3     HENRY FOOL (director: Hal Hartley; cast: Thoma...  Dennis+Schwartz
4     THE GOVERNESS (director: Sandra Goldbacher; ca...  Dennis+Schwartz
...                                                 ...              ...
5001  TV director Danny Leiner's DUDE, WHERE'S MY CA...     Steve+Rhodes
5002  Watching A HARD DAY'S NIGHT from 1964, now in ...     Steve+Rhodes
5003  After missing its 25th anniversary a couple of...     Steve+Rhodes
5004  Steven Brill's LITTLE NICKY, starring box offi...     Steve+Rhodes
5005  Even if WES CRAVEN PRESENTS DRACULA 2000 -- wh...     Steve+Rhodes

[5006 rows x 2 columns]

# <font color ='pickle'> **Task2: Feature Engineering and Preprocessing IMDB - 8 points**


<font color = 'dodgerblue'>**You can use regular expression or spacy for this task** </font>

- <font color = 'dodgerblue'> **PreProcessing**:</font>
  1. Remove HTML tags and new line character (\n)
  2. Remove email, urls and punctuations

  For preprocessing,  write your own simple functions  and your final cleaned text should be saved in a new column - `cleaned_text`.


- <font color = 'dodgerblue'> **Feature Engineering**

  Use the `cleaned_text` column you created in the previous step and extract following features as new column.

  1. number of words
  2. number of characters
  3. number of characters without space
  4. average word length
  5. count of numbers(37, 201, 20 etc.)

You will use the imdb moview review dataset. The details of the data can be found from this link : https://ai.stanford.edu/~amaas/data/sentiment/.

Description of the data from the above link :
"*This is a dataset for binary sentiment classification containing substantially more data than previous benchmark datasets. We provide a set of 25,000 highly polar movie reviews for training, and 25,000 for testing. There is additional unlabeled data for use as well. Raw text and already processed bag of words formats are provided. See the README file contained in the release for more details.*".

We extracted the data from text files and save  the train and test data as csv files. We further cleaned the dataset. <font size =4, color = 'dodgerblue'>**We will use train.csv file for this task.**</font>.
The file is availibale in Lecture2 data subfolder.

In [61]:
data=pd.read_csv("/content/sample_data/train.csv",encoding='ISO-8859-1')

In [62]:
data=data.drop('Unnamed: 0',axis=1)     
data

                                                 Reviews  Labels
0      Ever wanted to know just how much Hollywood co...       1
1      The movie itself was ok for the kids. But I go...       1
2      You could stage a version of Charles Dickens' ...       1
3      this was a fantastic episode. i saw a clip fro...       1
4      and laugh out loud funny in many scenes.<br />...       1
...                                                  ...     ...
24995  I really felt cheated after seeing this pictur...       0
24996  Ok,so.....guy gets bitten by a bat and then tu...       0
24997  I am generally more willing to be open minded ...       0
24998  What a load of rubbish.. I can't even begin to...       0
24999  Well, this movie started out funny but quickly...       0

[25000 rows x 2 columns]

In [63]:
from sklearn.base import BaseEstimator, TransformerMixin
from bs4 import BeautifulSoup
import numpy as np
import spacy
import re
from spacy.matcher import Matcher
from spacy.tokens import Token
from pathlib import Path
from nltk.stem.porter import PorterStemmer

In [ ]:
# def basic_clean(self, text): 
        
#         '''
#         This fuction removes HTML tags from text
#         '''
#         if (bool(BeautifulSoup(text, "html.parser").find())==True):         
#             soup = BeautifulSoup(text, "html.parser")
#             text = soup.get_text()
#         else:                                                             
#             pass
#         return re.sub(r'[\n\r]',' ', text) 



# def strip_html_tags(text):
#     soup = BeautifulSoup(text, "html.parser")
#     stripped_text = soup.get_text()
#     return stripped_text



# import re
# def strip_html_tags(text):
#     p = re.compile(r'<.*?>')
#     return p.sub('', text)

In [ ]:
# data['cleaned_text']=data['Reviews'].apply(lambda x: strip_html_tags(x))

In [ ]:
# data['cleaned_text'][4]

In [64]:
import spacy
import pandas as pd
!python -m spacy download en_core_web_sm
nlp=spacy.load('en_core_web_sm')
disabled =nlp.select_pipes(disable=['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner'])

2022-09-11 03:27:42.145749: E tensorflow/stream_executor/cuda/cuda_driver.cc:271] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting en-core-web-sm==3.4.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl (12.8 MB)
     |████████████████████████████████| 12.8 MB 5.2 MB/s
Requirement already satisfied: spacy<3.5.0,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from en-core-web-sm==3.4.0) (3.4.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.23.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (1.0.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (57.4.0)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.0.10)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (4.1.1)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (1.0.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (0.10.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (1.21.6)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (4.64.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (1.9.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (21.3)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (8.1.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.0.8)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.11.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.4.4)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (0.4.2)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (0.6.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.3.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.8.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (5.2.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (1.24.3)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (0.7.8)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.0) (2.0.1)
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [65]:
import re
def strip_html_tags(text):
    p = re.compile(r'<.*?>')
    return p.sub('', text)

In [66]:
data['cleaned_text']=data['Reviews'].apply(lambda x: strip_html_tags(x))

In [67]:
import re
def strip_newlinec(text):
  return re.sub('\n', '', text)

In [68]:
data['cleaned_text']=data['cleaned_text'].apply(lambda x: strip_newlinec(x))

In [69]:
def strip_emails(text): 
  doc=nlp(text)

  return " ".join([token.text for token in doc if not token.like_email])

In [70]:
data['cleaned_text']=data['cleaned_text'].apply(lambda x: strip_emails(x))

In [ ]:
# def strip_punctuation(x):
#   return " ".join(token.lemma_ for token in nlp(x) 
#                                                if not token.is_punct)
# #

# data["cleaned_text"] = data['cleaned_text'].apply(lambda x: strip_punctuation(nlp(x)))

In [71]:
def strip_urls(text):
  doc=nlp(text)

  return " ".join([token.text for token in doc if not token.like_url])

In [72]:
data['cleaned_text']=data['cleaned_text'].apply(lambda x: strip_urls(x))

In [73]:
def strip_punctuation(text):
  doc=nlp(text)

  return " ".join([token.text for token in doc if not token.is_punct])

In [74]:
data['cleaned_text']=data['cleaned_text'].apply(lambda x: strip_punctuation(x))

In [75]:
data['cleaned_text'].iloc[0]

"Ever wanted to know just how much Hollywood could get away with before the Hayes Code was officially put into effect Well unfortunately Convention City is lost so well just have to watch Tarzan and His Mate to find out For 1934 there is a remarkable amount of sexual innuendo and even exposed flesh Just look at Jane 's nude swim While Tarzan is often thought of as b adventure films made for young boys and no one else this picture proves that the series was originally very adult Over seventy years later it is still as sexy as it was when it came out In addition to the envelope pushing taboo nature it is a superb and exciting adventure story I ve always enjoyed the jungle films that Hollywood churned out in the 30s and the 40s but there are few from the genre I 'd call great films Tarzan and His Mate is by far the best film from this long gone subgenre The sequences of the attacks on the safari by either apes or natives still manage to create tension today Also the animals are all too cool espescially the apes throwing boulders The acting wo n't win any major awards soon but is certainly more than adequate for this type of picture The film is once again stolen by Cheetah the smartest monkey in the jungle One of the most entertaining examples of pre code Hollywood out there"

In [78]:
def word_count(x):
  doc=nlp(x)
  sum=len([token.text for token in doc])
  return sum



data['num_words']=data['cleaned_text'].apply(lambda x : word_count(x))

In [79]:
import re
def character_count(x):
  regex=re.compile(r".*")
  return sum(len(line) for line in x.splitlines())



data['num_of_characters']=data['cleaned_text'].apply(lambda x : character_count(x))

In [80]:
data

,Reviews,Labels,cleaned_text,num_words,num_of_characters
0,Ever wanted to know just how much Hollywood co...,1,Ever wanted to know just how much Hollywood co...,242,1290
1,The movie itself was ok for the kids. But I go...,1,The movie itself was ok for the kids But I got...,57,279
2,You could stage a version of Charles Dickens' ...,1,You could stage a version of Charles Dickens A...,849,4672
3,this was a fantastic episode. i saw a clip fro...,1,this was a fantastic episode i saw a clip from...,131,636
4,and laugh out loud funny in many scenes.<br />...,1,and laugh out loud funny in many scenes The mo...,105,545
...,...,...,...,...,...
24995,I really felt cheated after seeing this pictur...,0,I really felt cheated after seeing this pictur...,287,1446
24996,"Ok,so.....guy gets bitten by a bat and then tu...",0,Ok so guy gets bitten by a bat and then turns ...,44,208
24997,I am generally more willing to be open minded ...,0,I am generally more willing to be open minded ...,358,1875
24998,What a load of rubbish.. I can't even begin to...,0,What a load of rubbish I ca n't even begin to ...,273,1430
24999,"Well, this movie started out funny but quickly...",0,Well this movie started out funny but quickly ...,143,747

In [81]:
import re
def character_count(x):
  return sum(len(line) for line in x.splitlines())-x.count(" ")




data['num_of_characters_no_space']=data['cleaned_text'].apply(lambda x : character_count(x))

In [82]:
data

,Reviews,Labels,cleaned_text,num_words,num_of_characters,num_of_characters_no_space
0,Ever wanted to know just how much Hollywood co...,1,Ever wanted to know just how much Hollywood co...,242,1290,1049
1,The movie itself was ok for the kids. But I go...,1,The movie itself was ok for the kids But I got...,57,279,223
2,You could stage a version of Charles Dickens' ...,1,You could stage a version of Charles Dickens A...,849,4672,3824
3,this was a fantastic episode. i saw a clip fro...,1,this was a fantastic episode i saw a clip from...,131,636,506
4,and laugh out loud funny in many scenes.<br />...,1,and laugh out loud funny in many scenes The mo...,105,545,441
...,...,...,...,...,...,...
24995,I really felt cheated after seeing this pictur...,0,I really felt cheated after seeing this pictur...,287,1446,1160
24996,"Ok,so.....guy gets bitten by a bat and then tu...",0,Ok so guy gets bitten by a bat and then turns ...,44,208,165
24997,I am generally more willing to be open minded ...,0,I am generally more willing to be open minded ...,358,1875,1518
24998,What a load of rubbish.. I can't even begin to...,0,What a load of rubbish I ca n't even begin to ...,273,1430,1158
24999,"Well, this movie started out funny but quickly...",0,Well this movie started out funny but quickly ...,143,747,605

In [91]:
data['average_word_length']=data['cleaned_text'].apply(lambda x : np.mean([len(p) for p in x.split()]))

In [92]:
data

,Reviews,Labels,cleaned_text,num_words,num_of_characters,num_of_characters_no_space,average_word_length
0,Ever wanted to know just how much Hollywood co...,1,Ever wanted to know just how much Hollywood co...,242,1290,1049,4.334711
1,The movie itself was ok for the kids. But I go...,1,The movie itself was ok for the kids But I got...,57,279,223,3.912281
2,You could stage a version of Charles Dickens' ...,1,You could stage a version of Charles Dickens A...,849,4672,3824,4.504122
3,this was a fantastic episode. i saw a clip fro...,1,this was a fantastic episode i saw a clip from...,131,636,506,3.862595
4,and laugh out loud funny in many scenes.<br />...,1,and laugh out loud funny in many scenes The mo...,105,545,441,4.200000
...,...,...,...,...,...,...,...
24995,I really felt cheated after seeing this pictur...,0,I really felt cheated after seeing this pictur...,287,1446,1160,4.041812
24996,"Ok,so.....guy gets bitten by a bat and then tu...",0,Ok so guy gets bitten by a bat and then turns ...,44,208,165,3.750000
24997,I am generally more willing to be open minded ...,0,I am generally more willing to be open minded ...,358,1875,1518,4.240223
24998,What a load of rubbish.. I can't even begin to...,0,What a load of rubbish I ca n't even begin to ...,273,1430,1158,4.241758
24999,"Well, this movie started out funny but quickly...",0,Well this movie started out funny but quickly ...,143,747,605,4.230769

In [93]:
def Digit_Count(text):
  doc=nlp(text)

  return sum([token.is_digit for token in doc])

In [94]:
data['no_of_digits']=data['cleaned_text'].apply(lambda x: Digit_Count(x))

In [95]:
data

,Reviews,Labels,cleaned_text,num_words,num_of_characters,num_of_characters_no_space,average_word_length,no_of_digits
0,Ever wanted to know just how much Hollywood co...,1,Ever wanted to know just how much Hollywood co...,242,1290,1049,4.334711,1
1,The movie itself was ok for the kids. But I go...,1,The movie itself was ok for the kids But I got...,57,279,223,3.912281,0
2,You could stage a version of Charles Dickens' ...,1,You could stage a version of Charles Dickens A...,849,4672,3824,4.504122,1
3,this was a fantastic episode. i saw a clip fro...,1,this was a fantastic episode i saw a clip from...,131,636,506,3.862595,0
4,and laugh out loud funny in many scenes.<br />...,1,and laugh out loud funny in many scenes The mo...,105,545,441,4.200000,0
...,...,...,...,...,...,...,...,...
24995,I really felt cheated after seeing this pictur...,0,I really felt cheated after seeing this pictur...,287,1446,1160,4.041812,5
24996,"Ok,so.....guy gets bitten by a bat and then tu...",0,Ok so guy gets bitten by a bat and then turns ...,44,208,165,3.750000,0
24997,I am generally more willing to be open minded ...,0,I am generally more willing to be open minded ...,358,1875,1518,4.240223,1
24998,What a load of rubbish.. I can't even begin to...,0,What a load of rubbish I ca n't even begin to ...,273,1430,1158,4.241758,3
24999,"Well, this movie started out funny but quickly...",0,Well this movie started out funny but quickly ...,143,747,605,4.230769,0